body{
	bgcolor:none;
	style:'tab-interval:.5in';
	bgproperties:fixed;
	margin-right:15%;
	margin-left:10;
	font: 'Tahoma';
	font-family: sans-serif;
}

body1{
	style:'tab-interval:.5in';
	position:absolute;
	margin-left:10px;
	margin-top:20px;
}

img.top{
	bgcolor:transparent;
	border:transparent;
	position:relative;
	top:20
}

img.line{
	width:100%
}

img.menuLine{
	padding-top:30px;
	padding-bottom:30px;
}

.top{
	position:relative;
	font-size:18.0pt;
	font-family:sans-serif;
	color:#FF6634;
	text-align:right;
	margin-right:10%
	margin-left:75%
}

table.menu{
	align:left;
	bgcolor:#FFFFFF;
}

.show{
	display:block
}
.hide{
	font-family: Arial,Helvetica,sans-serif;
	display:none
}

.menu{
	position:relative;
	text-align:left;
	border-style: none;
}

.menuLink{
	spacing:double;
	background-color:#FFFFFF
}
.linkHeader{
	background-color:#F4F4FC
	spacing:double;
	font-size:16;
}

.normal{
    width: 75%;
    margin-left: 50px;
	margin-right:30%;
	font-size: 14;
}

.black{
	font-weight:bold;
	color:black;
}

a.menuLink{
	font-family: sans-serif;
	font-size: 12;
	text-decoration: none;
	color: #FF6634
}
a.menuLink:hover {
	font-weight:bold
}

a.linkHeader{
	font-family: sans-serif;
	font-size: 15;
	text-decoration: none;
	color: #FF6634
}
a.linkHeader:hover {
	font-family: sans-serif;
	font-weight:bold
}

a.tablink {
	color: #333333;
}

div.info {
	overflow : auto; 
	width: 925px;
	height: 250px;
	border-width: 2px; 
	border-style: solid; 
	border-color: #000000;
	border-top-width: 0px;
	background-color: #eeeeee;
}

div.tabs {
	width: 930px;
	margin.top: 100px;
	height: 29px;
	background-image:url('../images/right_end.gif');
	background-repeat:repeat-x;
}

div.tool {
	margin.top: 1000px;
	width: 930px;
	}

div.info_text {
	padding: 5px;
	padding-top: 10px;
}